* {
	font-family: BlexMono Nerd Font;
	font-size: 12pt;
	 }

window#waybar {
	background: #2b3339;
	opacity: 1;
}

#window,
#memory,
#temperature,
#cpu,
#pulseaudio,
#clock,
#tray {
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0.5rem;
	/* margin-right: 1.5rem; */
	background: #2b4449;
	color: #d3c6aa;
	border-radius: 10px;
}

#workspaces {
	margin: 0.5rem;
}

#workspaces button.focused {
	background: #d3c6aa;
	color: #2b3339;
}
